<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>servlet.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNews</servlet-name>
        <servlet-class>servlet.addNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allNewsCompany</servlet-name>
        <servlet-class>servlet.allNewsCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>servlet.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>servlet.UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPage</servlet-name>
        <servlet-class>servlet.addPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllUserPages</servlet-name>
        <servlet-class>servlet.getAllUserPages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>followNew</servlet-name>
        <servlet-class>servlet.followNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allFollowers</servlet-name>
        <servlet-class>servlet.allFollowers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unFollow</servlet-name>
        <servlet-class>servlet.unFollow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>followedPageNews</servlet-name>
        <servlet-class>servlet.followedPageNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteNews</servlet-name>
        <servlet-class>servlet.deleteNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNews</servlet-name>
        <url-pattern>/addNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allNewsCompany</servlet-name>
        <url-pattern>/allNewsCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPage</servlet-name>
        <url-pattern>/addPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllUserPages</servlet-name>
        <url-pattern>/getAllUserPages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>followNew</servlet-name>
        <url-pattern>/followNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allFollowers</servlet-name>
        <url-pattern>/allFollowers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unFollow</servlet-name>
        <url-pattern>/unFollow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>followedPageNews</servlet-name>
        <url-pattern>/followedPageNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteNews</servlet-name>
        <url-pattern>/deleteNews</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
